.bannar {
   background-image: url(../../../assets/vector1.png), url(../../../assets/Group\ 1.png)!important;
   background-repeat: no-repeat, no-repeat;
   background-position: left top, right top;
   z-index: 2;
}
.bannar-color{
       background-image: linear-gradient(to right, rgba(108,54,229), rgba(159,98,242));
       z-index:1
}