.bannar {
   background-image: linear-gradient(to right, rgb(110, 56,5, 0), rgb(71, 83, 72)), url(../../../assets/Group\ 1.png), url(../../../assets/vector1.png);
   background-repeat: no-repeat, no-repeat;
   background-position: left top, right top;
}